<div class="container">
  <h1>Welcome to our service!</h1>
  <p>Hello <%= @user.name %>,</p>
  <p>You have been successfully registered with our service. Below are your account details:</p>
  <ul>
    <li><strong>Name:</strong> <%= @user.name %></li>
    <li><strong>E-mail:</strong> <%= @user.email %></li>
    <li><strong>CPF:</strong> <%= @user.cpf %></li>
    <li><strong>Admin:</strong> <%= @user.admin %></li>
    <li><strong>Company Name:</strong> <%= @user.company.name %></li>
    <li><strong>Company Phone:</strong> <%= @user.company.phone %></li>
  </ul>
  <p>Thanks for joining us!</p>  
</div>
